  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-center">
        <h3>Probability Calculator</h3>
      </div>
    </div>  
    <div class="row">      
      <div class="col-md-2 mx-auto">    
        <small *ngIf="!probabilityForm.valid && formDir.submitted"  class="text-danger">
          Please enter valid values  below:            
        </small>    
        <form [formGroup]="probabilityForm" #formDir="ngForm" (ngSubmit)="onSubmit()">         
          <div class="mb-3">
            <label for="probabilityA" class="form-label">Probability A: </label>
            <input id="probabilityA" type="number" formControlName="probabilityA" class="form-control"  />
            <small *ngIf="PA?.invalid && (PA?.dirty || PA?.touched)"  class="text-danger">
              Please enter a valid value between 0-9              
            </small>
          </div>
          <div class="mb-3">
            <label for="p-b" class="form-label">Probability B: </label>
            <input id="p-b" type="number" formControlName="probabilityB" class="form-control" />
            <small *ngIf="PB?.invalid && (PB?.dirty || PB?.touched)"  class="text-danger">
              Please enter a valid value between 0-9              
            </small>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input checked class="form-check-input" type="radio" value="CombinedWith" formControlName="probabilityType" name="flexRadioDefault" id="p-t1">
              <label class="form-check-label" for="p-t1">
                CombinedWith: P(A)P(B)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="Either" formControlName="probabilityType" name="flexRadioDefault" id="p-t2">
              <label class="form-check-label" for="p-t2">
                Either: P(A) + P(B) – P(A)P(B)
              </label>
            </div>
            <div class="mb-3 mt-3">
              <strong>Result: </strong><span class="text-success">{{probabilityResult}}</span>
            </div>
          </div>
          <div class="mb-3">            
            <button type="submit" [disabled]="!probabilityForm.valid" class="btn btn-primary">Submit</button>
          </div>      
        </form>
      </div>
     </div>
  </div>


<router-outlet />
